[submodule "mcuboot"]
	path = mcuboot
	url = https://github.com/ERAWLT/mcuboot-p.git
[submodule "hwlt-framework"]
	path = hwlt-framework
	url = ../hwlt-framework
[submodule "libse"]
	path = libse
	url = ../libse
